* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.butuk {
  

  padding-left: 20px;
}


/* .section {
    display: flex;
    justify-content: center;
    
} */

/* .center {
    justify-content: center;
} */

.section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.center {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    
    .contentcenter {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }


}


.FONDOWN {
    height: 50px;
    background-color: #e8eaeb;
}


.texth {
   
    font-family: 'Odibee Sans', roboto;
    
}

.texth:hover {
    color: #ff8112;
    background-color: #f2f2f2;
    border: #fc6c1249;
    border-style: solid;
    
}

.logoimg {
    width: 150px;
}

/* .txtlogo {
    text-align: center;
    font-size: 35px;
    font-family: 'Agu Display', roboto;
padding-top: 0;
} */


/* выравнивание текста главной страницы */

.pagehome {
    text-align: center;
    font-size: 50px;
}

.pagecatalog {
    font-size: 50px;
    text-align: center;
}

.newspage {
    font-size: 50px;
    text-align: center;
}

/* .butuk {
    text-align: center;
    font-size: 5px;
} */